@{
    ViewData["Title"] = "Home Page";
}

@model List<ContainerVM>

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Backups Enabled?</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var container in Model)
            {
                <tr>
                    <td>@container.Id</td>
                    <td>@container.Name</td>
                    <td>@container.Image</td>
                    <td>No</td>
                    <td><a asp-controller="Schedule" asp-action="Add" asp-route-containerName="@container.Name">Enable</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>